* {
  box-sizing: border-box;
}
.form-container {
  width: 100%;
  height: 40vh;
  display: grid;
  grid-template-columns: calc(repeat(300px, 1fr));
  column-gap: 25px;
}
.grid-item {
  height: 16vh;
  > input::placeholder {
    color: #b5b5c3;
  }
  > label {
    color: #434558;
    font-size: 18px;
  }
}
.is-invalid{
  padding-right: 0;
}
.form-control {
  height: 45px;
}
.modal {
  position: absolute;
  top: 0px !important;
  right: 100px !important;
  bottom: 0;
  left: 50px !important;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}
//Modal responsive section
@media all and (max-width: 600px){
  .form-container {
    width: 100%;
    height: 125vh;
    display: grid;
    grid-template-columns: auto;
    column-gap: 25px;
  }
  .grid-item > label {
    color: #434558;
    font-size: 1rem;
  }
  .grid-item > p{
    font-size: 0.8rem;
  }
  .modal {
    position: absolute;
    top: 10px !important;
    right: 100px !important;
    bottom: 0;
    left: 20px !important;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
  }
  .modal-footer > button {
    height: 35px !important;
    width: 70px !important;
    font-size: 15px !important;
  }
  .modal-content{
    width: 85% !important;
  }
}
@media all and (min-width: 600px) {
  .form-container {
    width: 100%;
    height: 60vh;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
  }
  .grid-item > label {
    color: #434558;
    font-size: 14px;
  }
  .grid-item > p {
    font-size: 13px;
  }
  .grid-item > select {
    font-size: 13px;
    height: 30px;
  }
  .modal-footer > button {
    height: 35px !important;
    width: 70px !important;
    font-size: 15px !important;
    padding: 0;
  }
}
@media all and (min-width: 768px) {
  .modal-style {
    height: 65vh;
  }
  .form-container {
    width: 100%;
    height: 44vh;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
  }
  .form-control{
    height: 40px;
  }
  .grid-item > label {
    color: #434558;
    font-size: 18px;
  }
  .grid-item > select{
    height: 40px;
    font-size: 14px;
  }
  .grid-item > p{
    font-size: 0.9rem;
  }
  .modal-footer > button {
    height: 50px !important;
    width: 70px !important;
    font-size: 16px !important;
    padding: 0;
  }
}
@media all and (min-width: 992px) {
  .form-control{
    height: 45px;
  }
  .form-container {
    width: 100%;
    height: 40vh;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
  }
  .modal-style {
    height: 52vh;
  }
}
@media all and (min-width: 1200px) {
  .form-control{
    height: 45px;
  }
  .form-container {
    width: 100%;
    height: 40vh;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
  }
  .modal-style {
    height: 52vh;
  }
}